<!doctype html>
<html>
<head>
  <title>Create Customer</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Create Customer</h1>
 @flashMessage('error')
  <p style="color: red;">{{ $message }}</p>
@end
  <form action="/customer" method="POST" enctype="multipart/form-data">
    {{ csrfField() }}
    <label>Full_Name:</label>
    <input type="txt" name="full_name" required minlength="3">
    <label>Email:</label>
    <input type="email" name="email" required minlength="5">
    <label>Age:</label>
    <input type="number" name="age" required>
    <label>City:</label>
    <input type="text" name="city" required>
    <label>Position:</label>
    <input type="text" name="position" required>
    <label>Profile Picture:</label>
    <input type="file" name="profile_photo">
    <button type="submit">Create Customer</button>
  </form>
  <p>Go back to <a href="/dashboard">dashboard</a></p>
</body>
</html>