<!doctype html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Welcome, {{ auth.user.email }}!</h1>
  <p>There are {{ userCount }} users registered.</p>
  <a href="/logout">Logout</a>
  <br>
  <a href="/users">View Users</a>
  <br>
  <a href="/customer/show">View Customer</a>
  <br>
  <a href="/customer/create">Create Customer</a>
  <br>
  <a href="/customer/update">Update Customer</a>
  <br>
  <a href="/customer/delete">Delete Customer</a>


</body>
</html>